<!DOCTYPE html>
<html>
<head>
	<title>FUCK U</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="static/semantic/dist/semantic.css" />
	<link rel="stylesheet" type="text/css" href="static/css/index.css">	
	<link rel="stylesheet" type="text/css" href="static/css/chat.css">
	<!-- libs -->
	<script src="static/js/jquery-2.2.0.min.js"></script>
	<script src="static/semantic/dist/semantic.min.js"></script>
	<script src="static/js/json2html.js"></script>
	<script src="static/js/jquery.json2html.js"></script>
	<script src="static/js/socket.io.js"></script>
	<!-- my code -->
	<script src="static/js/utils.js"></script>	
	<script src="static/js/index.js"></script>
	<script src="static/js/chat.js"></script>
</head>
<body>


<!-- login or register form begins -->

	<div id="login-form" class="ui two column middle aligned stackable very relaxed grid text container login-page">

	      <div class="column">
	        <div class="ui form">
	          <div class="field">
	            <label>Username</label> 
	            <div class="ui left icon input">
	              <input id="login-username" type="text" placeholder="Username">
	              <i class="user icon"></i>
	            </div>
	          </div>

	          <div class="field">
	            <label>Password</label>
	            <div class="ui left icon input">
	              <input id="login-passwd" type="password" placeholder="Password">
	              <i class="lock icon"></i>
	            </div>
	          </div>

	          <div class="field">
			    <div class="ui toggle checkbox">
			      <input type="checkbox" tabindex="0" class="hidden">
			      <label>Remember Me</label>
			    </div>
	          </div>

	          <div id="login-submit" class="ui blue submit button">Login</div>
	        </div>
	      </div>

	      <div class="ui vertical divider">
	        Or
	      </div>

	      <div class="center aligned column">
	        <div id="signup-button" class="ui big green labeled icon button">
	          <i class="signup icon"></i>
	          Sign Up
	        </div>
	      </div>

    </div>

<!-- login or register form ends -->

<!--  register form begins -->

	<div id="register-form" class="ui middle aligned center aligned grid container login-page">

	  <div class="six wide computer sixteen wide mobile column">

	    <h2 class="ui teal image header">
	      <img src="static/img/fuck.jpg" class="image">
	      <div class="content">
	        Sign up to FUCK U
	      </div>
	    </h2>

	    <form class="ui large form">
	      <div class="ui raised segment">

			<div class="field">
			<div class="ui left icon input">
			  <input id="signup-username" type="text" placeholder="Username">
			  <i class="user icon"></i>
			</div>
			</div>

	        <div class="field">
	          <div class="ui left icon input">
	            <i class="user icon"></i>
	            <input id="signup-email" type="text" name="email" placeholder="E-mail address">
	          </div>
	        </div>

	        <div class="field">
	          <div class="ui left icon input">
	            <i class="lock icon"></i>
	            <input id="signup-passwd" type="password" name="password" placeholder="Password">
	          </div>
	        </div>
	        <div id="signup-submit" class="ui fluid large teal submit button">Sign Up</div>
	      
	      	<div class="ui divider"></div>

			<div id="signup-back" class="ui compact button">Back</div>

	      </div>

	    </form>

	  </div>
	</div>

<!--  register form ends -->


<!-- chat page begins -->

<div id="chat-page" class="ui centered grid holder">

	<!-- user panel begins -->

	<div id="user-panel" class="three wide computer sixteen wide mobile column" style="overflow-x:hidden;overflow-y:hidden;white-space:nowrap;">

		<!-- user profile begins -->

		<div id="user-profile" class="ui center aligned icon header">
		  <img id="user-avatar" class="ui tiny circular image" src="static/img/fuck.jpg" />
		  <div class="content" style="padding-left:0;">
		  	<h3 id="username" class="ui grey inverted header">LagrangeGi</h3>
		  </div>
		</div>

		<!-- user profile ends -->

		<!-- user menu begins -->

		<div id="computer-menu" class="ui computer only grid">

			<div id="user-menu" class="ui two item secondary inverted labeled icon menu">
			  <a class="item friend-button">
			    <i id="computer-friend-button" class="users icon "></i>
			    Friends
			  </a>
			  <a class="item adduser-button">
			    <i id="computer-adduser-button" class="add user icon "></i>
			    Add Friend
			  </a>
			</div>

		</div>

		<div id="mobile-menu" class="ui two column mobile only tablet only grid container">

			<div class="center aligned column">
				<button id="mobile-adduser-button" class="ui inverted basic button adduser-button mobile-btn" >
				  Add Friend
				</button>
			</div>
			<div class="center aligned column">
				<button id="mobile-friend-button" class="ui inverted basic blue button friend-button mobile-btn">
				  Friends
				</button>
			</div>

		</div>

		<!-- user menu ends -->

		<div class="ui inverted divider"></div>

		<!-- user friend group list begins -->

		  <div id="friend-group-list" class="ui inverted middle aligned list mylist">

		  </div>


		<!-- user friend group list ends -->

	</div>

	<!-- user panel ends -->


	<!-- chat panel begins -->


		<div id="chat-panel" class="seven wide computer sixteen wide mobile column computer only">

			<!-- chat header begins -->

			<div id="chat-header">
				<h2 class="ui header">
					<i id="chat-header-back" class="ui chevron left tiny icon"></i>
					<div class="content" id="chat-header-username"></div>
				</h2>
			</div>
			<!-- chat header ends -->

			<div class="ui divider"></div>

			<!-- message area begins -->

			<div id="message-area-wrapper">

				<div id="message-area" class="ui container">

				</div>

			</div>

			<!-- message area ends -->

			<div class="ui divider"></div>

			<!-- message input begins -->

			<div id="input-area">

				<div class="ui form">
				  <div class="disabled field">
				    <textarea id="message-input" rows="3" placeholder="Input text here..."></textarea>
				  </div>
				</div>

		        <!-- <div id="send-button" class="ui right floated blue submit button">Send</div> -->

			</div>


			<!-- message input ends -->
			
		</div>


	<!-- chat panel ends -->

</div>

<!-- chat page ends -->

<!-- modal begins -->

<!-- add friend modal begins -->
<div id="add-friend-modal" class="ui tiny modal">
    <div class="ui icon header">
      <i class="add user icon"></i>
      Add Friend
    </div>
    <div class="content">

		<div class="ui form">

			<div id="add-friend-find-user-field" class="inline fields">

				<div class="ten wide field" style="width:100%;margin:0 auto;">
					<input id="search-username" type="text" placeholder="Username">
				</div>

				<button id="search-friend-button" class="ui primary button">
				  Search
				</button>

			</div>

			<div id="add-friend-found-user" class="inline fields" style="display:none">

			  <div class="field" style="margin:0 auto;">
				    <img class="ui avatar image" id="found-avatar" src="#" />
				    <span id="found-username"></span>
			  </div>

			</div>

		  	<div class="ui divider"></div>

			<div class="inline fields">
				<div class="twelve wide field" style="width:100%;margin:0 auto;">
					<select id="group-dropdown" class="ui dropdown">
						<option value="0">Select Group</option>
					</select>
					<button id="select-group-submit" class="ui icon button">
						<i class="ui checkmark icon"></i>
					</button>
				</div>
			</div>

			<div id="add-group-field" class="inline fields">
				<div class="twelve wide field" style="width:100%;margin:0 auto;" >
				  	<input id="add-group-name" type="text" placeholder="Group Name">
					<button id="add-group-submit" class="ui icon button">
						<i class="ui plus icon"></i>
					</button>
				</div>
			</div>

			<div class="ui divider"></div>

			  <div class="actions">
			    <div class="two fluid ui inverted buttons">
			      <div id="add-friend-cancel" class="ui deny button">
			        <i class="remove icon"></i>
			        Cancel
			      </div>
			      <div id="add-friend-submit" class="ui green button">
			        <i class="checkmark icon"></i>
			        Add
			      </div>
			    </div>
			  </div>

		</div>

    </div>

</div>
<!-- add friend modal ends -->

<!-- delete friend modal begins -->
<div id="delete-friend-modal" class="ui tiny modal">
    <div class="ui icon header">
      <i class="remove user icon"></i>
      Delete Friend?
    </div>
	<div class="actions">
	    <div class="ui right deny center aligned button">
	      Cancel
	    </div>
	    <div id="delete-friend-submit" class="ui red ok right center aligned button">
	      Delete
	    </div>
	</div>

</div>
<!-- delete friend modal ends -->

<!-- delete group modal begins -->

<div id="delete-group-modal" class="ui tiny modal">
    <div class="ui icon header">
      <i class="remove user icon"></i>
      Delete Group?
    </div>
	<div class="actions">
	    <div class="ui right deny center aligned button">
	      Cancel
	    </div>
	    <div id="delete-group-submit" class="ui red ok right center aligned button">
	      Delete
	    </div>
	</div>

</div>

<!-- delete group modal ends -->

<!-- upload modal begins -->

<div id="upload-modal" class="ui tiny modal">
    <div class="ui header">
    	Change Avatar
    </div>
    <div class="content">

		<div class="ui form">

			<img id="upload-preview" class="ui small image" src="static/img/fuck.jpg" style="margin:0 auto;">

			<div class="ui divider"></div>

			<div class="six wide field" style="width:100%;margin:0 auto;">
			    <label for="upload-avatar" class="ui icon button">
			        <i class="file icon"></i>
			        Open File
			    </label>
			    <input type="file" id="upload-avatar" style="display:none">
			</div>

		</div>
    </div>
	<div class="actions">
	    <div class="ui right deny center aligned button">
	      Cancel
	    </div>
	    <div id="upload-submit" class="ui primary center aligned button">
	      Upload
	    </div>
	</div>

</div>

<!-- upload modal ends -->

<!-- add friend request begins -->

<div id="add-friend-request-modal" class="ui tiny modal">
    <div class="ui icon header">
      <i class="add user icon"></i>
      Add Friend Request
    </div>
    <div class="content">

		<div class="ui form">

			<div id="add-friend-request-user" class="inline fields">

			  <div class="field" style="margin:0 auto;">
				    <img class="ui avatar image" id="found-avatar" src="#" />
				    <span id="found-username"></span>
			  </div>

			</div>

			<div class="ui divider"></div>

			<div class="actions">
				<div class="two fluid ui inverted buttons">
				  <div id="add-friend-request-cancel" class="ui deny button">
				    <i class="remove icon"></i>
				    Cancel
				  </div>
				  <div id="add-friend-request-submit" class="ui green button">
				    <i class="checkmark icon"></i>
				    Add
				  </div>
				</div>
			</div>

		</div>

    </div>

</div>

<!-- add friend request ends -->

<!-- modal ends -->
<script>
$('#add-friend-request-submit').click(function() {

	var friend_id = $('#add-friend-request-user').attr('data-uid');
	var payload = {
		'token' : token,
		'friend_id' : friend_id,
		'group_id' : 8
	}

	socket.emit('add-friend-ack', payload, function(res) {
		var group_id = 8;
		var found_user = $('#add-friend-request-user').find('div.field');
		var friend_item_data = {
			'id': friend_id,
			'username': found_user.find('span').text(),
			'avatar': found_user.find('img').attr('src')
		}
		var friend_item = json2html.transform(friend_item_data, friend_item_template);
		$('#friend-group-list').find('div.g' + group_id).find('.list').append(friend_item);

	});

	$('#add-friend-request-modal').modal('hide');

});
</script>
</body>
</html>